LOCATE COMP "clk25" SITE "P3"; IOBUF PORT "clk25" IO_TYPE=LVCMOS33; FREQUENCY PORT "clk25" 25 MHZ;
LOCATE COMP "gpdi[0]" SITE "G19"; LOCATE COMP "gpdi[1]" SITE "H20";  # blue +/-
LOCATE COMP "gpdi[2]" SITE "E20"; LOCATE COMP "gpdi[3]" SITE "F19";  # grn  +/-
LOCATE COMP "gpdi[4]" SITE "C20"; LOCATE COMP "gpdi[5]" SITE "D19";  # red  +/-
LOCATE COMP "gpdi[6]" SITE "J19"; LOCATE COMP "gpdi[7]" SITE "K19";  # clk  +/-
IOBUF PORT "gpdi[0]" IO_TYPE=LVCMOS33 DRIVE=4; IOBUF PORT "gpdi[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi[2]" IO_TYPE=LVCMOS33 DRIVE=4; IOBUF PORT "gpdi[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi[4]" IO_TYPE=LVCMOS33 DRIVE=4; IOBUF PORT "gpdi[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi[6]" IO_TYPE=LVCMOS33 DRIVE=4; IOBUF PORT "gpdi[7]" IO_TYPE=LVCMOS33 DRIVE=4;
