LOCATE COMP "pin_in[0]" SITE "L2"; IOBUF PORT "pin_in[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[1]" SITE "R1"; IOBUF PORT "pin_in[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[2]" SITE "T1"; IOBUF PORT "pin_in[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[3]" SITE "U1"; IOBUF PORT "pin_in[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[4]" SITE "Y2"; IOBUF PORT "pin_in[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[5]" SITE "K18"; IOBUF PORT "pin_in[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[6]" SITE "W1"; IOBUF PORT "pin_in[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[7]" SITE "C18"; IOBUF PORT "pin_in[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[8]" SITE "V1"; IOBUF PORT "pin_in[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[9]" SITE "M1"; IOBUF PORT "pin_in[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[10]" SITE "T18"; IOBUF PORT "pin_in[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[11]" SITE "N2"; IOBUF PORT "pin_in[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[12]" SITE "R18"; IOBUF PORT "pin_in[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[13]" SITE "N3"; IOBUF PORT "pin_in[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[14]" SITE "R17"; IOBUF PORT "pin_in[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[15]" SITE "T2"; IOBUF PORT "pin_in[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[16]" SITE "P17"; IOBUF PORT "pin_in[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[17]" SITE "M3"; IOBUF PORT "pin_in[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[18]" SITE "M17"; IOBUF PORT "pin_in[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[19]" SITE "T3"; IOBUF PORT "pin_in[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[20]" SITE "T17"; IOBUF PORT "pin_in[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[21]" SITE "R3"; IOBUF PORT "pin_in[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[22]" SITE "N4"; IOBUF PORT "pin_in[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[23]" SITE "P18"; IOBUF PORT "pin_in[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[24]" SITE "N17"; IOBUF PORT "pin_in[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[25]" SITE "N18"; IOBUF PORT "pin_in[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[26]" SITE "L20"; IOBUF PORT "pin_in[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[27]" SITE "G5"; IOBUF PORT "pin_in[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[28]" SITE "D16"; IOBUF PORT "pin_in[28]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[29]" SITE "F5"; IOBUF PORT "pin_in[29]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[30]" SITE "E6"; IOBUF PORT "pin_in[30]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[31]" SITE "F1"; IOBUF PORT "pin_in[31]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[32]" SITE "F3"; IOBUF PORT "pin_in[32]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[33]" SITE "G3"; IOBUF PORT "pin_in[33]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_in[34]" SITE "H3"; IOBUF PORT "pin_in[34]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[0]" SITE "U18"; IOBUF PORT "pin_out[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[1]" SITE "U17"; IOBUF PORT "pin_out[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[2]" SITE "M18"; IOBUF PORT "pin_out[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[3]" SITE "L18"; IOBUF PORT "pin_out[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[4]" SITE "J17"; IOBUF PORT "pin_out[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[5]" SITE "H18"; IOBUF PORT "pin_out[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[6]" SITE "H17"; IOBUF PORT "pin_out[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[7]" SITE "G18"; IOBUF PORT "pin_out[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[8]" SITE "H16"; IOBUF PORT "pin_out[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[9]" SITE "F18"; IOBUF PORT "pin_out[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[10]" SITE "G20"; IOBUF PORT "pin_out[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[11]" SITE "G16"; IOBUF PORT "pin_out[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[12]" SITE "E18"; IOBUF PORT "pin_out[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[13]" SITE "F20"; IOBUF PORT "pin_out[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[14]" SITE "F17"; IOBUF PORT "pin_out[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[15]" SITE "F16"; IOBUF PORT "pin_out[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[16]" SITE "E16"; IOBUF PORT "pin_out[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[17]" SITE "E19"; IOBUF PORT "pin_out[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[18]" SITE "E17"; IOBUF PORT "pin_out[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[19]" SITE "D20"; IOBUF PORT "pin_out[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[20]" SITE "D18"; IOBUF PORT "pin_out[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[21]" SITE "D17"; IOBUF PORT "pin_out[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[22]" SITE "H4"; IOBUF PORT "pin_out[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[23]" SITE "H5"; IOBUF PORT "pin_out[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[24]" SITE "J4"; IOBUF PORT "pin_out[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[25]" SITE "J5"; IOBUF PORT "pin_out[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[26]" SITE "K3"; IOBUF PORT "pin_out[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[27]" SITE "K4"; IOBUF PORT "pin_out[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[28]" SITE "K5"; IOBUF PORT "pin_out[28]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[29]" SITE "B3"; IOBUF PORT "pin_out[29]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[30]" SITE "E1"; IOBUF PORT "pin_out[30]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[31]" SITE "A2"; IOBUF PORT "pin_out[31]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[32]" SITE "F2"; IOBUF PORT "pin_out[32]" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_out[33]" SITE "B2"; IOBUF PORT "pin_out[33]" IO_TYPE=LVCMOS33;
